<ion-view view-title="">
  <ion-content class="">
 <!--     <div class="row">
        <div class="card city-card col">
            <b>1 USD</b> = <b>{{ currency_data.currency_rate }} Baht</b>
        </div>
      </div>
      -->
      <div class="row" ng-repeat="card in cards">
          <div class="card dash-card col">
              <div class="row">
                  <div class="dash-card-left col">
                      <div class="dash-card-date">
                          <b>{{ card.month }}</b>&nbsp;{{ card.day }}
                      </div>
                      <div>
                        <span class="dash-card-city">{{ card.city }}</span>
                      </div>
                  </div>
                  <div class="dash-card-right col">
                      <div class="col">
                          <div class="dash-card-right text-center">
                              <div class="dash-card-icon"><i class="ion-ios-sunny"></i></div>
                              <div>{{ card.temp }}</div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </ion-content>
</ion-view>
