<ion-view view-title="" >
  <ion-content class="">
 <!--     <div class="row">
        <div class="card city-card col">
            <b>1 USD</b> = <b>{{ currency_data.currency_rate }} Baht</b>
        </div>
      </div>
      -->
      <div class="row">
          <div class="square-box">
              <div class="square-content">
                  <div>
                      <span>
                        <i class="icon ion-ios-thunderstorm-outline square-icon" style="font-size: 125px;"></i>
                      </span>
                  </div>
              </div>
          </div>
           <div class="square-box">
              <div class="square-content">
                  <div>
                      <span>
                        <i class="icon ion-cash square-icon"></i>
                      </span>
                  </div>
                  <div></div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="square-box">
              <div class="square-content">
                  <div>
                      <span>
                        <i class="icon ion-settings square-icon"></i>
                      </span>
                  </div>
              </div>
          </div>
           <div class="square-box">
              <div class="square-content">
                  <div>
                      <span>
                        <i class="icon ion-ios-medkit-outline square-icon"></i>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
