<ion-view view-title="">
  <ion-content class="">
 <!--     <div class="row">
        <div class="card city-card col">
            <b>1 USD</b> = <b>{{ currency_data.currency_rate }} Baht</b>
        </div>
      </div>
      -->
      <div class="row">
          <div class="card nav-card col col-50">
              <span><i class="icon ion-ios-thunderstorm-outline"></i></span>
          </div>

          <div class="card nav-card col col-50">
              <span><i class="icon ion-cash"></i></span>
          </div>
      </div>
      <div class="row">
          <div class="card nav-card col col-50">
              <span><i class="icon ion-settings"></i></span>
          </div>
          <div class="card nav-card col col-50">
              <span><i class="icon ion-ios-medkit-outline"></i></span>
          </div>
      </div>
  </ion-content>
</ion-view>
